@import '../../../../src/styles';

.whole-discography {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 70px 0 15px 0;
}

.discography-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
  margin: 20px 10px;
  box-shadow: 1px 4px 15px black;
  transition-duration: .3s;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;

    .disco-band-name {
      transform: translateY(25px);
      opacity: 0;
      cursor: pointer;
    }

    .disco-text {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.disco-img img {
  filter: brightness(.4);
  border-radius: 5px;
}

.disco-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disco-band-name {
  position: absolute;
  opacity: 1;
  transition-duration: .3s;
  color: $WhiteFridge;
  font-family: Dosis-Medium, sans-serif;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.disco-text {
  color: $WhiteFridge;
  font-size: 15px;
  text-align: center;
  margin: 0 25px;
  cursor: default;
  opacity: 0;
  transition-duration: .3s;
  font-family: openSans, sans-serif;
  line-height: 1.6;
}
