<div class="container-fluid">
  <div class="row">
    <div class="whole-discography">
      <div class="discography-isometric">
        <img src="../../../assets/isometrics/blog-two-lines-white.svg" alt="lines">
      </div>
      <div class="discography-sections" *ngFor="let disco of discography">
        <div class="disco-img" style="height: 100%">
          <img [src]="disco.image" alt="">
        </div>
        <div class="disco-content" dir="ltr">
          <span class="disco-band-name">{{disco.bandName}}</span>
          <span class="disco-text">
            {{disco.bandDescription | Shorten:210}}
            <br>
            <span class="read-more">
              <a routerLink="/Auth">(Read More...)</a>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
